/* ----------font style  --------*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* ------common style ----- */


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFFFF;
}



main {
    border: 1px solid none;
    margin-right: 5%;
    margin-left: 8%;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 8%
}

/* ------------live box style ------------- */
.show {
    display: flex;
    background-color: rgb(77, 72, 72);
    border-radius: 10px;
    padding-bottom: 10px;
    height: 500px;

    justify-content: center;


}

.show-info {

    text-align: start;
    margin-top: 10px;
    margin-left: 8%;
    color: #FFFFFF;
    font-size: 24px;
    padding-right: 20%;

    height: 495px;

}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.show-info p {
    font-size: 20px;
}

.banner {
    margin-right: 10%;
}


.banner img {
    width: 300px;
    height: 495px;


    padding-top: 15px;
}

.live-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 140px;
    height: 45px;
    font-size: 20px;
}

/* click box style */
.mor-info {
    display: flex;
    gap: 20px;
}

.match-summire {
    width: 245px;
    height: 200px;
    border-radius: 5px;


}

.upcoming-match {
    background-color: rgb(77, 72, 72);
    display: grid;
    grid-template-rows: 1, 1fr;
    border: 1px solid none;
    border-radius: 5px;
    text-align: center;
    gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.summire-button,
.fixed-button {
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 50px;
}

.summire-button:hover {
    background-color: red;

}

.fixed-button {
    background-color: red;
}

/* match blogs style */
.blogs-info {
    display: flex;
    gap: 20px;
    color: lightslategrey;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    width: 75%;
    height: 100%;


}



.blog-image img {
    width: 265px;
    height: 150px;
    border-radius: 5px;
}

.transfer {
    padding-top: 10px;
}

.bloges-details {
    font-size: 15px;
}

.view-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 75%;
    height: 100%;
    padding-left: 24%;
}

.view-all-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 75%;
    height: 100%;
    padding-left: 10px;

}


.view-more-blog,
.view-more-button {
    text-align: center;
    display: none;
}


.view-more-blog button {
    color: #FFFFFF;
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 150px;


}


/*---------- footer style ---------- */
footer {
    background-color: rgb(77, 72, 72);
    color: #FFFFFF;

    width: 100%;
    height: 250px;
    text-align: center;

}

.author {

    text-align: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;

}





.author-detail {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;


}

/* -----------Upcoming match websit style --------- */

.match {
    display: flex;
}

.start-time {
    margin-left: 40px;
}

.start-time p {
    color: rgb(102, 103, 105);
    font-size: 15px;
}

.all-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.match img {
    width: 110px;
}

/* media quaire */

/* mobile devises  */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }



    .show,
    .show-info {
        display: block;
        text-align: center;
        padding-right: 0%;
        margin-top: 0px;
        margin-left: 0%;
    }


    .show {
        display: block;
        height: 70%;
        width: 100%;
        margin-left: 23px;
        padding-right: 0;

    }



    .banner {
        margin-right: 0;

        height: 500px;
        padding-left: 10px;

    }




    .show-info {
        padding-top: 40px;

    }

    .live-button {
        font-size: 25px;
        width: 150px;
        height: 45px;

    }

    .show-info p {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .upcoming-match {
        background-color: rgb(247, 244, 244);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 35px;
        text-align: center;
        margin-left: 20%;
        margin-right: 35%;
        width: 100%;
    }



    .mor-info {
        display: block;








    }

    .match-summire {
        padding-bottom: 70px;

        width: 80%;
        text-align: center;




    }

    .blogs {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10%;
        width: 80%;


    }

    .blog {
        padding-bottom: 20px;

    }

    .blog-image img {
        width: 115%;
        height: 260px;
    }

    .view-more-blog2,
    .view-all {
        display: none;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0%;

    }

    .view-more-blog {
        display: none;
    }

    footer {
        height: 500px;
        width: 80%;
        margin-left: 17%;

    }


    .author-detail,
    .all-match {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;


    }





    .match {
        padding-bottom: 20px;
    }

    .match img {
        width: 220px;
        padding-left: 20px;
    }
}



@media only screen and (min-width: 689px) and (max-width: 992px) {

    .show,
    .show-info {
        display: block;
        text-align: center;
        padding-right: 0%;
        margin-top: 0px;
        margin-left: 0%;
    }

    .show {
        display: block;
        height: 90%;
        width: 90%;
        margin-left: 20px;
        padding-right: 0;

    }

    .banner {
        margin-right: 0;

        height: 500px;
        padding-left: 10px;

    }




    .show-info {
        padding-top: 40px;

    }

    .live-button {
        font-size: 25px;
        width: 150px;
        height: 45px;

    }

    .show-info p {
        font-size: 30px;
    }

    h1 {
        font-size: 45px;
    }

    .upcoming-match {
        background-color: rgb(247, 244, 244);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 140px;
        text-align: center;
        margin-left: 45px;

    }

    .mor-info {
        display: block;









    }

    .match-summire {
        display: flex;
        padding-bottom: 70px;

        width: 600px;

        padding-right: 10%;


    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;





    }



    .blog {
        padding-bottom: 20px;


    }

    .view-all {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0%;

    }



    .view-more-blog {
        display: block;
        padding-left: 70px;
        padding-top: 20px;
    }

    .view-more-blog2 {
        display: none;
    }



    footer {
        height: 600px;
        width: 90%;
        margin-left: 6%;
        text-align: center;
    }


    .author-detail,
    .all-match {
        display: grid;
        grid-template-columns: repeat(4, 1fr);



    }

    .app-live {
        display: inline;
        text-align: end;




    }

    .all-match {
        margin-left: 10%;
    }

    .blog-image img {
        width: 350px;
        height: 260px;
    }

    .match {
        padding-bottom: 20px;
    }

    .all-match {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
    }


}